* {
    margin: 0;
    text-align: center;
    font-family: Tahoma, sans-serif;
}

#contact-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}

#contact-form .form-input {
    margin-bottom: 10px;
}

#contact-form .form-input .email-phone {
    display: flex;
    justify-content: center;
}
